#projects {
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
    gap: 20px; /* Add spacing between cards */
    justify-content: center; /* Center the grid horizontally */
    align-items: start; /* Align items at the top */
}

.project-card {
    border-radius: 1em;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(224, 224, 224, 0.25);
    width: 400px;
    height: 300px;
    background: rgb(59, 59, 59);
    padding: 20px;
    box-sizing: border-box;
    transition: 0.3s ease;
}

.project-card:hover {
    transform: scale(1.025);
    background-color: rgba(190, 190, 190, 0.25);
    box-shadow: 0 0 5px rgba(224, 224, 224, 0.25);
}